@tailwind base;
@tailwind components;
@tailwind utilities;

.t-crimson {
    font-family: 'Crimson Pro', serif;
}
.t-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.t-bold {
    font-weight: 700;
}

.t-light {
    font-weight: 300;
}

.bg-gold{
    background-color: #B59760;
}



.btn {
    display: block;
    padding-block: .9em;
    padding-inline: .6em;
    text-transform: uppercase;
    font-size: 14px;
}